

<div class="container">
  <div class="row">
    <div class="col-12">
    <table class="table table-image">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Pictue</th>
          <th scope="col">Title</th>

  <th >Actions <button class="btn btn-secondary" (click)="create()">Add Account</button>
  </th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userpreview">

          <td  class="table-dark" (click)="goToDetails(user.id)">{{user.id}}</td>
          <td class="table-light">{{user.firstName}}</td>
          <td class="table-dark">{{user.lastName}}</td>
          <td class="table-light" width="40">
            <img [src]="user.picture" class=" img-thumbnail "  alt="Sheep">
          </td>
          <td class="table-dark">{{user.title}}</td>
          <td scope="row" class="table-light">

            <button (click)="update(user.id)" class="btn btn-sm btn-warning  me-2">
            <i class="fa fa-edit"></i>Edit</button>
          <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger me-2">
            <i class="fa fa-remove"></i>Delete</button>
            <button (click)="getUserById(user.id) ;goToDetails(user.id)" class="btn btn-sm btn-success  me-2">
              <i class="fa fa-edit"></i>get</button>
          <!-- <button class="btn btn-secondary" (click)="editUser(user)">Edit</button>
          <button class="btn btn-secondary" (click)="deleteUser(user.id)">Delete</button> -->
        </td>
        </tr>
        <tr>

      </tbody>
    </table>
    </div>
  </div>
</div>
